.grid-stack {
  position: relative;
 }
.grid-stack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/homeBg.jpg");
  background-repeat: repeat;
  opacity: 0.6;
}
 
.grid-stack-item-content { background-color: #18BC9C; }
