@import "tailwindcss";
@import "gridstack/dist/gridstack.css";

html {
  --primary-color-light: #6BB8D7;
  --primary-color-light2: #93CBE2;
  --primary-color-dark: #6BB8D7;
  --primary-color-dark2: #93CBE2;

  --secoundary-color-light: #236E8C;
  --secoundary-color-light2: #2D8DB4;
  --secoundary-color-dark: #236E8C;
  --secoundary-color-dark2: #2D8DB4;

  --terceary-color-light: #0197D2;
  --terceary-color-light2: #01719D;
  --terceary-color-dark: #0197D2;
  --terceary-color-dark2: #01719D;

  --shadow-50: #191615;
  --shadow-100: white;
}

:root {
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color: black;
}
#root{
  width: 100%;
  height: 100%;
}

.grid-stack-item-content { background-color: var(--primary-color-light); }

button{
  border-radius: 3.125rem 3.125rem 0 0;
  cursor: pointer;
}
/*button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}*/
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}