@import "tailwindcss";
@import "gridstack/dist/gridstack.css";
@import "./fonts.css";

:root {
  font-family: "Barlow", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-light-primary: #6BB8D7;
  --color-light-primaryVar: #93CBE2;
  --color-light-secondary : #236E8C;
  --color-light-secondaryVar: #2D8DB4;
  --color-light-tertiary: #0197D2;

  --color-dark-primary: #5492aa;
  --color-dark-primaryVar: #7baabd;
  --color-dark-secondary : #123847;
  --color-dark-secondaryVar: #246e8b;
  --color-dark-tertiary: #012e41;

  --color-shadow-50: #191615;
  --color-shadow-100: white;
}

h1{
  font-family: "Tsukimi_Rounded", 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color: black;
}
#root{
  width: 100%;
  height: 100%;
}

/*button{
  border-radius: 3.125rem 3.125rem 0 0;
  cursor: pointer;
}
button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/